// Copyright Epic Games, Inc. All Rights Reserved.

#include "{{name}}.h"
#include "Modules/ModuleManager.h"

IMPLEMENT_MODULE(F{{name}}Module, {{name}});

F{{name}}Module::F{{name}}Module() {}

void F{{name}}Module::StartupModule() { }

void F{{name}}Module::ShutdownModule() { }

F{{name}}Module& F{{name}}Module::Get() { 
    static TOptional<F{{name}}Module*> MODULE = {};
    if (!MODULE.IsSet()) {
        MODULE = TOptional((F{{name}}Module*)FModuleManager::Get().GetModule("{{name}}"));
        check(MODULE != nullptr);
    };
    return *MODULE.GetValue();
}